GITEA_VERSION=gitea/gitea:latest
MYSQL_DATABASE=gitea
MYSQL_PASSWORD=
MYSQL_USER=gitea
MYSQL_VERSION=mariadb:10.6.3
SERVICE_NAME=git.mydomain.com
TRAEFIK_HOST=git.mydomain.com
TRAEFIK_ROUTER=git_mydomain_com
TRAEFIK_SERVICE=git_mydomain_com
USER_GID=1000
USER_UID=1000
GIT_HOMEDIR=/home/git
