GITEA_VERSION=gitea/gitea:latest
MYSQL_DATABASE=gitea
MYSQL_PASSWORD=
MYSQL_USER=gitea
MYSQL_VERSION=mariadb:10.6.3
SERVICE_NAME=git.bjphoster.com
TRAEFIK_HOST=git.bjphoster.com
TRAEFIK_ROUTER=git_bjphoster_com
TRAEFIK_SERVICE=gitbjphostercom
USER_GID=1000
USER_UID=1000
